
.alert-box{
    width:100%;
    font-size: 1rem;
    margin:1rem 0;
    border-radius: 0.3rem;
    padding:1rem 3rem 1rem 1rem;
    position: relative;
}
.alert-icon{
    margin-right: 0.7rem;
    /* height:1.2em;
    width:1.2em; */
    font-size:1.1em;
}

.alert-success{
    background-color: #46d665;
    color: #023d07;
    border-left:6px solid rgb(17, 138, 17);
}

.alert-warning{
    background-color: #f3ce9b;
    color: #e28203;
    border-left:6px solid #ff9100
   
}

.alert-danger{
    background-color: #fcc5c5;
    color: #dc3545;
    border-left:6px solid #dc3545;
}

.alert-info{
    background-color: #6ad4ee;
    color: #0039d4;
    border-left:6px solid #0039d4;
}


.btn-close{
    font-size: 1.8rem;
    height:1.5rem;
    width:1.5rem;
    border:none;
    cursor: pointer;
    outline: none;
    background: transparent;
    position: absolute;
    right:10px;
    top:8px;
    opacity: 0.5;
}

.btn-close:hover{
    opacity: 1;
}