.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--complementary-text-color);
  margin: auto;
  padding: 1.25rem;
  border: 1px solid #888;
  max-width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.modal-close {
  color: var(--secondary-color);
  font-size: 1.7rem;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 0;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
